In [10]:
 def my_function(a, b, c): 
     print("name: ", a , ", age: ", b, "height: ", c) 
     return

In [11]:
my_function("ahsan", 35, 5.9)

name:  ahsan , age:  35 height:  5.9

In [62]:
def fac(n):
    k=1
    for i in range(1,n+1):
        #print("i=", i, ", k=", k, "before")
        k=k*i
        #print("i=", i, ", k=", k, "after")
    return k

In [63]:
fac(3)

6

In [112]:
def seriesExp(k, x):
    seriesSum=0.
    for i in range(0,k):
        seriesSum=seriesSum+x**i/fac(i)
        #print(i, fac(i), seriesSum, x**i/fac(i))
    return seriesSum

In [123]:
seriesExp(1000,13)

442413.39200892043

In [115]:
import numpy as np

In [116]:
np.exp(13.)

442413.3920089205

In [18]:
myTupple = [("Mohadesa Sharifi", 29/01/1995), ("Ahsan Nazer", 19/01/1988), ("Ayat Khidiri", 23/10/2018)]
print(myTuple)

SyntaxError: invalid token (<ipython-input-18-471b05b37f9a>, line 1)

In [16]:
for values in myDict.values():
    nValues = values.split("/")
    nvalues[-1] =
#     for i in range(len(nValues)-1):
#         a = i
#         b = i+1
#         if nValues[a]>nValues[b]:
#             c = nValues[a]
#             nValues[a] = nValues[b]
#             nValues[b] = c
            
    
    print(values, values[-1], nValues, nValues[-1])

29/01/1995 5 ['29', '01', '1995'] 1995
19/01/1988 8 ['19', '01', '1988'] 1988
23/10/2018 8 ['23', '10', '2018'] 2018

['23', '10', '2018']