In [1]:
import sys

def skipHeader(r):
    """Skip the header in reader r, and return the first real piece of data."""
    #read the description line and then comment lines. 
    line = r.readline()
    line = r.readline()
    while line.startswith('#'):
        line = r.readline()
    #Now line contains the first real piece of data.
    return line
def process_file(r):
    """read and print open reader r."""
    #find the first piece of data.
    line = skipHeader(r).strip()
    print(line)
if __name__ == "__main__":
    input_file = open("age.txt", 'r')
    process_file(input_file)
    input_file.close()

Mohadesa Sharifi 29/01/1995

In [2]:
l = []
for line in open("age.txt"):
    li=line.strip()
    if not li.startswith("#"):
        l.append(li)
        print(li)

Mohadesa Sharifi 29/01/1995
Ahsan Nazer 19/01/1988
Ayat Khidiri 23/10/2018

In [3]:
print(l)

['Mohadesa Sharifi 29/01/1995', 'Ahsan Nazer 19/01/1988', 'Ayat Khidiri 23/10/2018']

In [4]:
firstNameM, lastNameM, dobM = l[0].split(" ")

In [5]:
firstNameA, lastNameA, dobA = l[1].split(" ")

In [6]:
firstNameAy, lastnameAy, dobAy = l[2].split(" ")

In [7]:
dayM, monthM, yearM = dobM.split("/")

In [8]:
dayA, monthA, yearA = dobA.split("/")

In [9]:
dayAy, monthAy, yearAy = dobAy.split("/")

In [10]:
mohadesa_age = (2020-int(yearM)) +(1-int(monthM))/12. + (24-int(dayM))/365

In [11]:
ahsan_age = (2020-int(yearA)) +(1-int(monthA))/12. + (24-int(dayA))/365

In [12]:
ayat_age = (2020-int(yearAy)) +(1-int(monthAy))/12. + (24-int(dayAy))/365

In [13]:
l1 = [mohadesa_age, ahsan_age, ayat_age]

In [14]:
l

['Mohadesa Sharifi 29/01/1995',
 'Ahsan Nazer 19/01/1988',
 'Ayat Khidiri 23/10/2018']

In [15]:
l1

[24.986301369863014, 32.013698630136986, 1.2527397260273974]

In [16]:
for i in range(len(l1)-1):
    a = i
    b = i+1
    if l1[b]>l1[a]:
        c = l1[a]
        l1[a] = l1[b]
        l1[b] = c
        
print(l1)

[32.013698630136986, 24.986301369863014, 1.2527397260273974]

In [17]:
dobM = mohadesa_age
dobA = ahsan_age
dobAy = ayat_age

In [18]:
myTuple = [(firstNameM, lastNameM, mohadesa_age), (firstNameA, lastNameA, ahsan_age), (firstNameAy, lastnameAy, ayat_age)]

In [26]:
myTuple.append(('bola', 'gola', 21))

In [30]:
myTuple.append(('karbalai', 'jan', -2))

In [31]:
def sort_tuple(tup):
    for i in range(0, len(tup)):
        for j in range(0, len(tup)-i-1):
            if (tup[j][2]>tup[j+1][2]):
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp 
    return(tup)

In [32]:
sort_tuple(myTuple.copy())

[('karbalai', 'jan', -2),
 ('Ayat', 'Khidiri', 1.2527397260273974),
 ('bola', 'gola', 21),
 ('Mohadesa', 'Sharifi', 24.986301369863014),
 ('Ahsan', 'Nazer', 32.013698630136986)]